<h1>Listing Band Events</h1>
<%= link_to 'New Event', new_admin_event_path, class: 'btn' %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Published?</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @admin_events.each do |admin_event| %>
      <tr>
        <td>
          <%= admin_event.title || I18n.t(:missing_title, scope: :event) %>
        </td>
        <td><%= date(admin_event) %></td>
        <td><%= !admin_event.published_at.nil? %></td>
        <td><%= link_to 'Show', admin_event_path(admin_event) %></td>
        <td><%= link_to 'Edit', edit_admin_event_path(admin_event) %></td>
        <td><%= link_to 'Destroy', admin_event_path(admin_event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

