<h3>Band Event (Preview)</h3>
<p class="title">
  <span>Title: </span><%= title(event) %>
</p>
<p class="link">
  <span>Link: </span><%= link(event) %>
</p>
<p class="location">
  <span>Location: </span><%= location(event) %>
</p>
<p class="description">
  <span>Description: </span><br/><%= raw description(event) %>
</p>
<p class="date iso8601">
  <span>Date: </span><%= date(event) %>
</p>
<p class="published">
  <span>Published: </span><%= event.published_at.present? %>
</p>
<div id="map_canvas" data-location="<%= event.location %>"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYoO0xKPGXtMYvI9fOqzAKYqT3T0Y_5iY&callback=window.MostlyKosher.googleCallback" async defer data-turbolinks-permanent></script>
