<div class="row" id="contact">
  <footer>
    <div class="top-footer col col-lg-12 col-md-12 col-sm-12">
      <p><%= I18n.t(:contact_us, scope: [:client, :footer]) %></p>
      <p>
        <%= I18n.t(:call, scope: [:client, :footer]) %>
        <% telephone = I18n.t(:phone_point_of_contact, scope: [:client, :footer]) %>
        <%= link_to telephone, "tel:#{telephone}" %>
      </p>
      <p>
        <%= I18n.t(:email, scope: [:client, :footer]) %>
        <% email = I18n.t(:email_point_of_contact, scope: [:client, :footer]) %>
        <%= link_to email, "mailto:#{email}" %>
      </p>
      <p>
        <%= I18n.t(:press, scope: [:client, :footer]) %>
        <% press = I18n.t(:press_point_of_contact, scope: [:client, :footer]) %>
        <%= link_to press, "tel:#{press}" %>
      </p>
    </div>
    <div class="bottom col col-lg-12 col-md-12 col-sm-12">
      <p><%= I18n.t(:copyright, scope: [:client, :footer]) %> <i class="fa fa-copyright"></i> <%= I18n.t(:band_name, scope: [:client, :footer]) %></p>
    </div>
  </footer>
</div>
