<div class="row gallery" id="gallery" data-parallax="base">
  <div class="header">
    <%= render partial: 'client/landing/separator', locals: { color: '#9b200c', text: I18n.t(:header, scope: [:client, :gallery])  } %>
  </div>
  <div class="content col col-lg-12 col-md-12 col-sm-12">
    <div id="gallery-preview" class="owl-carousel">
      <% @images.each do |image| %>
          <div class="slide">
            <div class="slide-image">
              <img src="<%= image %>">
            </div>
          </div>
      <% end %>
    </div>
    <div class="more-pictures">
      <%#
      <p>
        <%= I18n.t(:call_to_action, scope: [:client, :gallery])
        <%= link_to I18n.t(:gallery_link, scope: [:client, :gallery]), gallery_url
      </p>
      %>
      <p>
        <%= link_to 'http://instagram.com/mostlykosher/' do %>
            <%= I18n.t(:instagram_link, scope: [:client, :gallery]) %> <i class="fa fa-instagram"></i>
        <% end %>
      </p>
      <p>
        <%= link_to I18n.t(:press_kit_link, scope: [:client, :gallery]), '/press-pics.zip' %>
      </p>
    </div>
  </div>
</div>
