<% if not event.nil? %>
    <div class="upcoming-event">
      <div class="header">
        <h1><%= event.date.strftime('%b %d, %Y') %></h1>
        <h3><%= event.title %></h3>
      </div>
      <div class="content">
        <span><%= auto_link(event.description.html_safe) unless event.description.nil? %></span>
      </div>
      <div class="footer">
        <a href="<%= event.link %>"><%= I18n.t(:call_to_action, scope: [:client, :shows]) %></a>
      </div>
    </div>
<% else %>
    <div class="upcoming-event">
      <div class="header">
        <h1>
          <%= I18n.t(:stay_tuned, scope: [:client, :shows]) %>
        </h1>
        <h3 style="color:#333;">
          <%= I18n.t(:shenanigans, scope: [:client, :shows]) %>
        </h3>
      </div>
      <div class="content">
        <br />
        <a target="_blank" href="https://www.facebook.com/pages/Mostly-Kosher/111211355657165"><i class="fa fa-facebook-square"></i><span> Facebook</span><br /></a>
        <a target="_blank" href="https://twitter.com/mostlykosher"><i class="fa fa-twitter-square"></i><span> Twitter</span><br /></a>
        <a target="_blank" href="http://instagram.com/mostlykosher/"><i class="fa fa-instagram"></i><span> Instagram</span><br /></a>
      </div>
      <div style="margin-top:16px;"></div>
    </div>
<% end %>
