<div class="about" id="about" data-parallax="back" data-type="background">
   <div data-parallax="wrapper">
   <h3>ABOUT MOSTLY KOSHER</h3>
   <div class="bio">
      <%= render partial: "bio", :locals => { name:"Mostly-Kosher", bio:@band_bio } %>
      <%= render partial: "bio", :locals => { name:"Casey", bio:"Casey Bio", hidden:true } %>
      <%= render partial: "bio", :locals => { name:"Will", bio:"Will Bio", hidden:true } %>
      <%= render partial: "bio", :locals => { name:"Eric", bio:"Eric Bio", hidden:true } %>
      <%= render partial: "bio", :locals => { name:"Leeav Sofer", bio:"Leeav Bio", hidden:true } %>
      <%= render partial: "bio", :locals => { name:"Janice", bio:"Janice Bio", hidden:true } %>
      <%= render partial: "bio", :locals => { name:"Mike B", bio:"Mike B Bio", hidden:true } %>
      <%= render partial: "bio", :locals => { name:"Adam", bio:"Adam Bio", hidden:true } %>
      <%= render partial: "bio", :locals => { name:"Mike K", bio:"Mike K Bio", hidden:true } %>
   </div>
   </div>
</div>
