<div class="info-card <%= defined?(color) ? color : "" %>">
   <div class="header">
      <h1><%= title %></h1>
      <span class="sign"><i class="fa fa-<%= sign %>"></i></span>
   </div>
   <div class="content">
      <% if defined?(review) %>
         <div class="review">
            <h4>See what people are saying about Mostly Kosher!</h4>
            <% review.each do |post| %>
            <br />
            <quote><%= post.quote.html_safe %></quote><br/ >
            <span>-<%= post.entity %></span>
            <% end %>
         </div>
      <% else %>
         <% posts.each do |post| %>
            <div class="post">
               <div>
                  <abbr class="timeago" title="<%= post.posted_date.to_time.iso8601 %>">
               </div>
               <div>
                  <h4><%= post.title %></h4>
               </div>
               <div>
                  <span><%= auto_link(post.content.html_safe) %></h4>
               </div>
            </div>
         <% end %>
         <% if posts.count == 0 %>
            <div class="filler">
               <h4>Stay Tuned for Updates and More!</h4>
            </div>
         <% end %>
      <% end %>
   </div>
   <div class="footer">
      <a href="<%= link %>">MORE</a>
   </div>
</div>
