<div class="container-fluid">
   <%# render partial: 'nav_bar' %>
   <div class="parallax row">
      <div class="parallax__group">
         <div class="parallax__layer parallax__layer--back">
            <%= render partial: 'top_new'%>
            <%= render partial: 'sign_up' %>
            <%= render partial: 'album' %>
            <%= render partial: 'about' %>
            <%= render partial: 'shop' %>
         </div>
      </div>
      <div class="parallax__group">
         <div class="parallax__layer parallax__layer--base">
            <%# render partial: 'new' %>
            <%# render partial: 'music' %>
            <%# render partial: 'shows' %>
            <%# render partial: 'gallery' %>
         </div>
      </div>
   </div>
   <%# render partial: 'footer' %>
</div>
