<div class="container-fluid">
  <%= render partial: 'client/landing/nav_bar' %>
  <%= render partial: 'client/landing/top_new'%>
  <%= render partial: 'client/landing/new' %>
  <%= render partial: 'client/landing/sign_up' %>
  <%= render partial: 'client/landing/music' %>
  <%= render partial: 'client/landing/album' %>
  <%= render partial: 'client/landing/shows' %>
  <%= render partial: 'client/landing/about' %>
  <%= render partial: 'client/landing/gallery' %>
  <%= render partial: 'client/landing/shop' %>
  <%= render partial: 'client/landing/footer' %>
</div>
<%# render partial: 'client/landing/tour' %>
<%= render partial: 'client/landing/residency' %>
