<div class="container">
   <%= render partial: 'nav_bar' %>
   <%= render partial: 'top_new'%>
   <%= render partial: 'new' %>
   <%= render partial: 'sign_up' %>
   <%= render partial: 'music' %>
</div>
