<div class="container-fluid">
  <%= render partial: 'nav_bar' %>
  <%= render partial: 'top_new'%>
  <%= render partial: 'new' %>
  <%= render partial: 'sign_up' %>
  <%= render partial: 'music' %>
  <%= render partial: 'album' %>
  <%= render partial: 'shows' %>
  <%= render partial: 'about' %>
  <%= render partial: 'gallery' %>
  <%= render partial: 'shop' %>
  <%= render partial: 'footer' %>
</div>
<%# render partial: 'tour' %>
<%= render partial: 'residency' %>
