<!DOCTYPE html>
<html>
<head>
  <title>Mostly Kosher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%#  Google Fonts Import %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon">
  <link rel="icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon">
</head>
<body>

<%= yield %>
<% if @is_iphone %>
<style>
   [data-type=background] {
      background-attachment:initial !important;
      background-size: cover !important;
   }
</style>
<% end %>
<%# Google Maps Import %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYoO0xKPGXtMYvI9fOqzAKYqT3T0Y_5iY&callback=window.MostlyKosher.googleCallback" async defer data-turbolinks-permanent></script>
</body>
</html>
